appdirs==1.4.3
boto3==1.9.4
botocore==1.12.4
docutils==0.14
futures==3.2.0
jmespath==0.9.3
Markdown==2.6.11
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.10.0
urllib3==1.20
virtualenv==16.0.0
